<div>
  <% @users.each do |user| %>
    <% if user != current_user %>
      <div class="card col-3 mb-4 mx-2" >
        <%= gravatar_for user, class: "card-img-top" %>
        <div class="card-body ">
          <h4 class="card-title"><%= user.first_name %></h4>
          <p class="card-text"><%= user.last_name %></p>
          <p class="card-text"><%= user.username %></p>
          <% if current_user.friend?(user) %>
            <div><%= user.username %> is one of my friend </div>
          <% elsif current_user.pending_friends.include?(user) %>
            <div>
              <%= button_to 'Cancel request',  user_reject_request_path(user), method: :delete , class: 'btn btn-danger mb-2' %>
            </div>
          <% elsif current_user.friend_requests.include?(user) %>
            <div class="row">
              <%= button_to 'Accept', user_accept_request_path(user), class: 'pull-right btn btn-primary mr-2'%>
          <%= button_to 'Reject', user_reject_request_path(user), method: :delete, class: 'pull-right btn btn-danger'%>
            </div>
          <% else %>
            <div>
              <%= button_to 'Add new friend',  user_friendships_path(user), class: 'btn btn-info mb-2' %>
            </div>
          <% end %>
          <div>
            <%= link_to 'View Profile', user_path(user), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
