<section class="container">
  <h1>User Profile</h1>
  
  <div>
    <p>
      <span>
        <%= @user_profile.first_name %>
      </span>
      <span>
        <%= @user_profile.last_name %>
      </span>
    </p>
    <p>
      <span>
        <%= @user_profile.username %>
      </span>
    </p>
    <p>
      <span>
        <%= @user_profile.email %>
      </span>
    </p>
    <div>
      <%= render partial: 'shared/user_status', locals: {user: @user_profile} %>
    </div>
  </div>

  <% @user_profile.posts.each do |post| %>
    <div class="card mb-4">
      <%= render partial: 'shared/post', locals: {post: post} %>
    </div>
  <% end %>
</section>
