<div class="row">
  <div class="col-md-3"><span><%= gravatar_for post.user %></span></div>
  <div class="col-md-9">
    <span><%= post.user.username %>:</span>
    <span><%= post.content %></span>
    <div><%= time_ago_in_words(post.created_at) %> ago</div>
    <div class="mt-1">
      <span><%= pluralize(post.comments.count, 'comment') %> </span>|
      <span><%= pluralize(post.likes.count, 'like') %> </span>
    </div>
    <span><%= like_unlike_post(post) %></span>
    <% if current_user?(post.user)%>
        <span>
          <%= link_to edit_post_path(post) do%>
            <i class="fa fa-edit"></i>
          <% end %>
        </span>
        <span> 
          <%= link_to post, method: :delete, 
                 data: { confirm: 'Are you sure?'} do%>
              <i class="fa fa-trash-o"></i>
          <% end %>
        </span>
    <% end %>
  </div>
</div>
