<div class="row">
  <div class="col-md-3"><span><%= gravatar_for post.user %></span></div>
  <div class="col-md-9">
    <span><%= post.user.username %>:</span>
    <span><%= post.content %></span>
    <p><%= time_ago_in_words(post.created_at) %> ago</p>
  </div>
  <div class="pl-3">
    <%= like_unlike_post(post) %>
  <div class="mt-4">
    <span><%= pluralize(post.comments.count, 'comment') %> </span>|
    <span><%= pluralize(post.likes.count, 'like') %> </span>
  </div>
</div>
