<!DOCTYPE html>
<html>
  <head>
    <title>FacebookClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans&family=PT+Sans+Narrow&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= render 'layouts/header' %>
    <main class="main">
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
